<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF=8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Task Tracking</title>
    </head>
    <body style="text-align: center;">
        <h1>Task Recap</h1>
        <p>{{ recap }}</p>
        
        <form action="/" method="GET">
            <input type="submit" name="return" id="return" value="Retrun to Tasks"> 
        </form>
        
    </body>
    
    
</html>